{% extends "blog/base.html" %}

{% block content %}

<div class="col-sm-12 col-md-9">
  {% if post %}
  <div class="card border-light mb-3">
    <div class="card-header bg-success text-center">

      {% if next  %}
      <a class="btn btn-success" href="{% url 'blog:detail' next.slug %}">Következő:
        {{next.post_title}}</a>
      {% endif %}

      {% if prev  %}
      <a class="btn btn-success" href="{% url 'blog:detail' prev.slug %}">Előző: {{prev.post_title}}</a>
      {% endif %}
    </div>
    <div class="card-body">
      <h2 class="card-title ">{{ post.post_title }} </h2>
      <p class="content">{{ post.post_content | safe }}</p>
    </div>


    <div class="card-header bg-success text-center">

      {% if next  %}
      <a class="btn btn-success" href="{% url 'blog:detail' next.slug %}">Következő:
        {{next.post_title}}</a>
      {% endif %}

      {% if prev  %}
      <a class="btn btn-success" href="{% url 'blog:detail' prev.slug %}">Előző: {{prev.post_title}}</a>
      {% endif %}
    </div>

  </div>

  {% else %}
  <p>Nincs ilyen cikk.</p>
  {% endif %}

</div>

{% endblock %}