<div class="container">
    <div class="row">
        <div class="col">
            <div class="navbar-light">
              <div class="navbar-light">
                <p class="navbar-toggler d-md-none btn d-block mb-1 text-left"  data-toggle="collapse" data-target="#collapseNavbar" aria-controls="collapseNavbar" aria-expanded="false" aria-label="Toggle navigation">
                  Menü
                </p>
                </div>
                  
            <div class="py-1 mb-2 collapse d-md-block" id="collapseNavbar">

                <nav class="nav d-flex flex-column flex-md-row justify-content-md-between   border-bottom border-dark" >
                    <a class="p-2 text-muted" href="#">Alaphang</a>

                  {% if navbars %}  
                    {% for navbar in navbars %}
                    <a class="p-2 text-muted" href="{% url 'blog:page' navbar.slug %}">{{ navbar.page_title }}</a>
                    {% endfor %}
                    {% else %}
                    <p>Nincs ilyen cikk.</p>
                  {% endif %}    

                </nav>
              </div>

           </div> 
        </div>
    </div>
</div>


